<style>
div.item-glossary {
  border-bottom: 1px solid #000;
}
input.block {
  width: 100%;
}
</style>

<a class="button button-action button--primary" href="form">Add a new vocabulary</a>

<div>
  <label for="term-search">Search in vocabulary</label>
  <input type="text" class="field--text block" name="term-search" id="term-search" placeholder="Search">
</div>

{% for item in items %}
<div class="item-glossary" data-search-term="{{item.word}} {{item.definition}}">
  <h4>{{item.word}} <small><a href="form?id={{item.pid}}">Edit</a></small></h4>
  <p>{{item.smallerdefinition}}</p>
</div>
{% endfor %}

<script>
const delaySearchKeyUp = 350;
var valSearchAtu = "";
var inputsearch = null;
var funcDelayAfterKeyUp = null;

const forEachItemGlossary = function (el) {
  const searhTerm = el.getAttribute('data-search-term').toUpperCase();
  if (searhTerm.includes(valSearchAtu.toUpperCase())) {
    el.style.display = 'block';
  } else {
    el.style.display = 'none';
  }
};

const updateItemsFiltered = function () {
  const items = document.querySelectorAll(".item-glossary");
  items.forEach(forEachItemGlossary);
};

const onKeyUpSearch = function () {
  const val = this.value.trim();

  if (val != valSearchAtu) {
    valSearchAtu = val;
    ofs = 0;

    clearTimeout(funcDelayAfterKeyUp);
    funcDelayAfterKeyUp = setTimeout(() => {
      updateItemsFiltered()
    }, delaySearchKeyUp);
  }
};

document.querySelector('#term-search').addEventListener('keyup', onKeyUpSearch);
</script>